{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
<main>

    <h1>Inscription à la newsletter</h1>

    {{ form(newsletterForm) }}

</main>
{% endblock %}
