<nav>
    <ul>
        <li>
            <a href="{{ path('app_index') }}">Index</a>
        </li>
        <li>
            <a href="{{ path('newsletter_sub') }}">Newsletters</a>
        </li>
        <li>
            <a href="{{ path('recipe_list') }}">Liste des recettes</a>
        </li>
    </ul>
</nav>